html,body{
    margin:0;
    padding:0;
}
.whole{
    background-color: #CECEB9;
    z-index: 10;
}
.fixed{
    width:1000px;
    margin-left:auto;
    margin-right:auto;  
}
.work-section{
    float:left;
}
.page-header{
    width:100%;
    min-width:auto;
}
.page-header{
    opacity:0.9;
    z-index: 30;
    position: fixed;
    top:-35;
    -webkit-transition: top 0.25s;
    transition: top 0.25s;
}
.page-header-clone > .nav{
    margin: auto;
}
.page-header-clone.visible{
    top:0;
}
.page-header-clone:hover{
    opacity: 1;
}
.nav{
    width:1201px;
    height:50px;
    background: #C4C4C4;
    position:absolute;
}
.page-header > .nav{
    margin:auto;   
}
.menu ul, .menu li {
    margin: 0;
    padding: 0;
}
.menu ul {
    float:right;
    background:  #C4C4C4;
    list-style: none;
}
.menu li {
    float: left;
    position: relative;
    width:auto;
}
.menu a {
    background: #C4C4C4;
    color: #FFFFFF;
    display: block;
    font: bold 13px/20px Open Sans,Noto Sans CJK TC thin,sans-serif;
    letter-spacing:1.5px;
    padding: 15px 10px;
    text-align: center;
    text-decoration: none;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}
.menu li:hover a {
    background: #CECEB9;
}
#map{
    margin-top: 150px;
}
#dialogouter{
    z-index: 20;
    top:0;
    left:0;
    height:100%;
    width:100px;
}
#a_dialog{
    margin-left: 10px;
    margin-top:200px;
    display:block;
    background-color: white;
    width:350px;
    height:400px;
    border-radius:10px 10px 10px 10px;
    text-align: center;
    clear: both;
    z-index: 20;
    position: absolute;
  
}
.pictext0{
    padding-top:19px;
    font-family:'Noto Sans CJK TC';
    font-weight: bold;
    font-size: 15px;
}
.pictext1{
    font-family:'Noto Sans CJK TC';
    margin-top: -180px;
    padding-left: 60px;
    font-size: 13px;
    text-align: center;
    letter-spacing: 2px;
    position: absolute;
    line-height:20px;
}
#openDialog{
    z-index: 9999;
    margin-left: 750px;
    margin-top:200px;
    position: absolute;
    color:#F7E6DE;
    font-size:25px;
}
#openDialog:hover{
    z-index: 9999;
    color:#919191;

}
#closeDialog{
    position: absolute;
    padding-top: 6px;
    padding-left:320px;
    font-size:30px;
    z-index: 9999;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 8px;
    margin-top: -75px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}
.prev{
    margin-left:-125px;
}
.next{
    margin-right:50px;
}
/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}
@media only screen and (max-width: 300px) {
    .prev, .next {font-size: 11px}
}
.p5{
    font-family:'Noto Sans CJK TC';
    padding-left:800px;
    padding-top:85px;
    font-weight: bold;
    font-size: 37px;
    color: #444444;
    position: absolute;
}
.p6{
    font-family:'Noto Sans CJK TC';
    padding-left:750px;
    padding-top: 135px;
    font-weight: bold;
    font-size: 37px;
    color: #444444;
    position: absolute;
}
#back-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 9999;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 30px;
    background: #f5f5f5;
    color: #444;
    cursor: pointer;
    border: 0;
    border-radius: 2px;
    text-decoration: none;
    transition: opacity 5.2s ease-out;
    opacity: 0;
}
#back-to-top:hover {
    background: #e9ebec;
}
#back-to-top.show {
    opacity: 0.5;
}
.footer{
    display:block;
    background-color:#C4C4C4;
    width:auto;
    height:25px;
    opacity:70%;
    margin-top: 180px;
}
.footer_text{
    font-family:'Ubuntu','Rubik',sans-serif;
    padding-top:6px;
    font-size:12px;
    text-align: center;
    color:white;
}