.slider1{
/*    padding-top:60px;*/
/*    margin: auto;*/
    max-width: 540px;
     margin-left:240px;
    padding-left:100px;
}

.slide_viewer1 {
    height: 300px;
    overflow: hidden;
    position: relative;
}

.slide_group1 {
    height: 100%;
    position: relative;
    width: 100%;
}

.slide1 {
    display: none;
    height: 300px;
    position: absolute;
    width: 300px;
    border-radius: 100%;
}

.slide1:first-child {
    display: block;
}

.slide1:nth-of-type(1) {
    background-image:url("/green_island_website//img/20180818-IMG_2806.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.slide1:nth-of-type(2) {
    background-image:url("/green_island_website//img/20180819-IMG_2837.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.slide1:nth-of-type(3) {
    background-image:url("/green_island_website//img/20180819-IMG_2830.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.slide1:nth-of-type(4) {
    background-image:url("/green_island_website//img/20180819-IMG_2895.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.slide1:nth-of-type(5) {
    background-image:url("/green_island_website//img/20180819-IMG_2889.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.slide_buttons1 {

    position: absolute;
    text-align: center;
    margin-left:250px;
    margin-top: -30px;
}

a.slide_btn1 {
    
    color: #474544;
    font-size: 42px;
    margin: 0 0.175em;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.slide_btn1.active, .slide_btn1:hover {
    color: #CECEB9;
    cursor: pointer;
}
.prev1{
    margin-left:0px;
}
.next1{
    margin-right:10px;
}
.directional_nav1 {
    height: 340px;
    margin: 0 auto;
    max-width: 940px;
    position: relative;
    top: -340px;
}

.previous_btn1 {
    bottom: 0;
    left: 270px;
    margin: auto;
    padding-top:30px;
    position: absolute;
    top: 0;
}

.next_btn1 {
    bottom: 0;
    margin: auto;
    padding-top:30px;
    position: absolute;
    right: 240px;
    top: 0;
}

.previous_btn1, .next_btn1 {
    cursor: pointer;
    height: 65px;
    opacity: 0.5;
    -webkit-transition: opacity 0.4s ease-in-out;
    -moz-transition: opacity 0.4s ease-in-out;
    -ms-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
    width: 65px;
}

.previous_btn1:hover, .next_btn1:hover {
    opacity: 1;
}

@media only screen and (max-width: 767px) {
    .previous_btn1 {
        left: 160px;
    }
    .next_btn1 {
        right: 100px;
    }
}
