html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

.slider2 {
    padding-top:20px;
    padding-left: 50px;
    margin: auto;
    max-width: 540px;
}

.slide_viewer2 {
    height: 200px;
    overflow: hidden;
    position: relative;
}

.slide_group2 {
    height: 100%;
    position: relative;
    width: 100%;
}

.slide2 {
    display: none;
    height: 180px;
    position: absolute;
    width: 250px;
}

.slide2:first-child {
    display: block;
}

.slide2:nth-of-type(1) {
    background-image:url("pic/20180818-IMG_2461.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.slide2:nth-of-type(2) {
    background-image:url("pic/20180818-IMG_2478.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.slide2:nth-of-type(3) {
    background-image:url("pic/20180818-IMG_2464.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.slide2:nth-of-type(4) {
    background-image:url("pic/20180818-IMG_2480.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.slide_buttons2 {
    margin-top: -15px;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
}

a.slide_btn2 {
    color: #474544;
    font-size: 42px;
    margin: 0 0.175em;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.slide_btn2.active, .slide_btn2:hover {
    color: #CECEB9;
    cursor: pointer;
}
.prev2{
    margin-left:0px;
}
.next2{
    margin-right:60px;
}
.directional_nav2 {
    height: 200px;
    margin: 0 auto;
    max-width: 940px;
    position: relative;
    top: -340px;
}

.previous_btn2 {
    bottom: 0;
    left: 143px;
    margin-top:250px;
    position: absolute;
    top: 0;
}

.next_btn2 {
    bottom: 0;
    margin-top:250px;
    position: absolute;
    right: 0px;
    top: 0;
}

.previous_btn2, .next_btn2 {
    cursor: pointer;
    height: 65px;
    opacity: 0.5;
    -webkit-transition: opacity 0.4s ease-in-out;
    -moz-transition: opacity 0.4s ease-in-out;
    -ms-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
    width: 65px;
}

.previous_btn2:hover, .next_btn2:hover {
    opacity: 1;
}

@media only screen and (max-width: 767px) {
    .previous_btn2 {
        left: 160px;
    }
    .next_btn2 {
        right: 100px;
    }
}

#dialogouter2{
    z-index: 20;
    top:0;
    left:0;
    height:100%;
    width:100px;
}
#a_dialog2{
    margin-left: 780px;
    margin-top:200px;
    display:block;
    background-color: white;
    width:350px;
    height:450px;
    border-radius:10px 10px 10px 10px;
    text-align: center;
    clear: both;
    z-index: 20;
    position: absolute;
}
.pictext2_1{
    padding-top:19px;
    font-family:'Noto Sans CJK TC';
    font-weight: bold;
    font-size: 15px;
}
.pictext2{
    font-family:'Noto Sans CJK TC';
    margin-top: -180px;
    padding-left: 60px;
    font-size: 13px;
    text-align: center;
    letter-spacing: 2px;
    position: absolute;
    line-height:20px;
}
#openDialog2{
    z-index: 999;
    margin-left: 360px;
    margin-top:300px;
    position: absolute;
    color:#F7E6DE;
    font-size:25px;
}
#openDialog2:hover{
    z-index: 9999;
    color:#919191;
}
#closeDialog2{
    position: absolute;
    padding-top: 6px;
    padding-left:320px;
    font-size:30px;
    z-index: 999;
}
.prev2, .next2 {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 8px;
    margin-top: -75px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}
.prev2{
    margin-left:-125px;
}
.next2{
    margin-right:50px;
}
/* Position the "next button" to the right */
.next2 {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev2:hover, .next2:hover {
    background-color: rgba(0,0,0,0.8);
}
@media only screen and (max-width: 300px) {
    .prev2, .next2 {font-size: 11px}
}