html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

.slider7 {
    padding-top:20px;
    padding-left: 50px;
    margin: auto;
    max-width: 540px;
}

.slide_viewer7 {
    height: 200px;
    overflow: hidden;
    position: relative;
}

.slide_group7 {
    height: 100%;
    position: relative;
    width: 100%;
}

.slide7 {
    display: none;
    height: 180px;
    position: absolute;
    width: 250px;
}

.slide7:first-child {
    display: block;
}

.slide7:nth-of-type(1) {
    background-image:url("/img/20180819-IMG_2885.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.slide7:nth-of-type(2) {
    background-image:url("/img/20180819-IMG_2881.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.slide7:nth-of-type(3) {
    background-image:url("/img/20180819-IMG_2880.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.slide7:nth-of-type(4) {
    background-image:url("/img/20180819-IMG_2874.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.slide_buttons7 {
    margin-top: -15px;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
}

a.slide_btn7 {
    color: #CECEB9;
    font-size: 42px;
    margin: 0 0.175em;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.slide_btn7.active, .slide_btn7:hover {
    color: #474544;
    cursor: pointer;
}
.prev7{
    margin-left:0px;
}
.next7{
    margin-right:60px;
}
.directional_nav7 {
    height: 200px;
    margin: 0 auto;
    max-width: 940px;
    position: relative;
    top: -340px;
}

.previous_btn7 {
    bottom: 0;
    left: 143px;
    margin-top:250px;
    position: absolute;
    top: 0;
}

.next_btn7 {
    bottom: 0;
    margin-top:250px;
    position: absolute;
    right: 0px;
    top: 0;
}

.previous_btn7, .next_btn7 {
    cursor: pointer;
    height: 65px;
    opacity: 0.5;
    -webkit-transition: opacity 0.4s ease-in-out;
    -moz-transition: opacity 0.4s ease-in-out;
    -ms-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
    width: 65px;
}

.previous_btn7:hover, .next_btn7:hover {
    opacity: 1;
}

@media only screen and (max-width: 767px) {
    .previous_btn7 {
        left: 160px;
    }
    .next_btn7 {
        right: 100px;
    }
}

#dialogouter7{
    z-index: 20;
    top:0;
    left:0;
    height:100%;
    width:100px;
}
#a_dialog7{
    margin-left: 800px;
    margin-top:200px;
    display:block;
    background-color: white;
    width:350px;
    height:400px;
    border-radius:10px 10px 10px 10px;
    text-align: center;
    clear: both;
    z-index: 20;
    position: absolute;
}
.pictext7_1{
    padding-top:19px;
    font-family:'Noto Sans CJK TC';
    font-weight: bold;
    font-size: 15px;
}
.pictext7{
    font-family:'Noto Sans CJK TC';
    margin-top: -180px;
    padding-left: 70px;
    font-size: 13px;
    text-align: center;
    letter-spacing: 2px;
    position: absolute;
    line-height:20px;
}
#openDialog7{
    z-index: 999;
    margin-left: 720px;
    margin-top:650px;
    position: absolute;
    color:#F7E6DE;
    font-size:25px;
}
#openDialog7:hover{
    z-index: 9999;
    color:#919191;
    cursor: pointer; 
}
#closeDialog7{
    position: absolute;
    padding-top: 6px;
    padding-left:320px;
    font-size:30px;
    z-index: 9999;
     cursor: pointer; 
}
.prev7, .next7 {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 8px;
    margin-top: -75px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}
.prev7{
    margin-left:-125px;
}
.next7{
    margin-right:50px;
}
/* Position the "next button" to the right */
.next7 {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev7:hover, .next7:hover {
    background-color: rgba(0,0,0,0.8);
}
@media only screen and (max-width: 300px) {
    .prev7, .next7 {font-size: 11px}
}