html, body {
    
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

.slider {
    padding-top:60px;
/*    margin: auto;*/
    max-width: 540px;
     margin-left:10px;
    padding-left:25px;
}

.slide_viewer {
    height: 340px;
    overflow: hidden;
    position: relative;
}

.slide_group {
    height: 100%;
    position: relative;
    width: 100%;
}

.slide {
    display: none;
    height: 300px;
    position: absolute;
    width: 450px;
}

.slide:first-child {
    display: block;
}

.slide:nth-of-type(1) {
    background-image:url("/green_island_website//img/20180819-IMG_2936.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.slide:nth-of-type(2) {
    background-image:url("/green_island_website//img/20180818-IMG_2665.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.slide:nth-of-type(3) {
    background-image:url("/green_island_website//img/20180818-IMG_2590.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.slide:nth-of-type(4) {
    background-image:url("/green_island_website//img/20180818-IMG_2641.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.slide:nth-of-type(5) {
    background-image:url("/green_island_website//img/20180818-IMG_2608.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.slide:nth-of-type(6) {
    background-image:url("/green_island_website//img/20180818-IMG_2624.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.slide_buttons {
    position: absolute;
    text-align: center;
   margin-left:140px;
    margin-top: -30px;
}

a.slide_btn {
    color: #474544;
    font-size: 42px;
    margin: 0 0.175em;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.slide_btn.active, .slide_btn:hover {
    color: #CECEB9;
    cursor: pointer;
}
.prev{
    margin-left:0px;
}
.next{
    margin-right:60px;
}
.directional_nav {
    height: 340px;
    margin: 0 auto;
    max-width: 940px;
    position: relative;
    top: -340px;
}

.previous_btn {
    bottom: 0;
    left: -20px;
    margin: auto;
    padding-top:30px;
    position: absolute;
    top: 0;
}

.next_btn {
    bottom: 0;
    margin: auto;
    padding-top:30px;
    position: absolute;
    right: 400px;
    top: 0;
}

.previous_btn, .next_btn {
    cursor: pointer;
    height: 65px;
    opacity: 0.5;
    -webkit-transition: opacity 0.4s ease-in-out;
    -moz-transition: opacity 0.4s ease-in-out;
    -ms-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
    width: 65px;
}

.previous_btn:hover, .next_btn:hover {
    opacity: 1;
}

@media only screen and (max-width: 767px) {
    .previous_btn {
        left: 160px;
    }
    .next_btn {
        right: 100px;
    }
}
